# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

# IDE settings
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# OS-specific
.DS_Store
Thumbs.db